@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext");
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

#root {
  margin: 0;
  padding: 0px;
  height: 1200px;
  text-align: start;
  
  color: rgb(92, 92, 92);
}

.title {
  margin: 1em 0px;
}

.btn {
  font-size: 1.1em;

  padding: .3em 1em;
}

.container {
  padding: 0px 4em;
}

.container-header {
  padding: 20px 0px;

  border-bottom: 1px solid rgb(222, 226, 230);
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.grid-file-info {
  text-align: start;
}

.grid-content {
  background-color: rgb(222, 226, 230);
}

.files-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card-img-container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.card-img-container svg {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  display: block;
}

.list-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2px;

  height: 40px;
  width: 40px;
}

.list-img-container img {
  user-select: none;

  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  border: 1px solid gray;
  
}

.list-img-container svg {
  user-select: none;

  color: gray;

  max-width: 70%;
  max-height: 70%;
}

.table {
  background-color: rgb(97, 97, 97);

  color: rgb(92, 92, 92);
}

th {
  padding: 0px;

  text-align: start;
}

td {
  text-align: start;

  text-wrap: nowrap;
  overflow: hidden;
}