/* ==================== Imports ==================== */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');
@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('bootstrap-icons/font/bootstrap-icons.css');

/* ==================== Root ==================== */
html,
body,
#root,
main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;

  color: #1f1f1f;
}

.page-container {
  display: grid;

  grid-template-columns: auto minmax(720px, 1320px) auto;
  grid-template-rows: auto 1fr;

  height: 100%;
}

.auth-page {
  display: flex;

  width: 100%;
  height: 100%;

  background-color: rgb(215, 215, 215);

  justify-content: center;
}

.page-header-section {
  grid-area: 1 / 2 / 2 / 3;
}

.page-content-section {
  display: flex;
  flex-direction: column;

  grid-area: 2 / 2 / 3 / 3;
}

.page-header-container {
  display: flex;

  justify-content: space-between;

  padding: 1em 2.5em;
}

.header-container {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 1em 2.5em;
}

.content-container {
  display: flex;

  justify-content: center;
  padding: 0 2.5em;
}

.grid-container {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5em;

  width: 100%;
}

.title-container {
  padding: 1em 2.5em;
}

/* -GRID- */

.grid-card {
  display: flex;
  flex-direction: column;

  border-radius: 1em;

  aspect-ratio: 1 / 1;

  background-color: rgb(235, 235, 235);
}

.grid-card:hover {
  background-color: rgb(220, 220, 220);
}

.grid-header {
  display: flex;

  padding: 0.5em;

  justify-content: space-between;
  align-items: center;

  min-width: 0px;
}

.grid-content {
  flex: 1;
  padding: 0 0.5em 0.5em 0.5em;

  display: flex;
  align-items: center;

  min-width: 0px;
  overflow: hidden;
}

/* -TABLE- */

.cell-container {
  padding: 0px 0.5em !important;

  height: 3em;
  line-height: 3em;
}

.cell-content {
  display: flex;

  align-items: center;
  gap: 0.5em;

  text-wrap: nowrap;
  height: 100%;
}

.cell-content .file-title-container {
  max-width: 400px;
}

.cell-content--end {
  justify-content: end;
}

.col-size {
  width: 100px;
}

.col-uploaded {
  width: 215px;
}

.col-actions {
  width: 215px;
}

th {
  font-weight: 500;
}

/* -FILE PREVIEWS- */

.file-preview {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgb(220, 220, 220);
  overflow: hidden;
}

.file-preview--list {
  border-radius: 0.2em;
}

.file-preview--grid {
  border-radius: 1em;
}

.cell-content .file-preview {
  width: 2em;
  height: 2em;
}

.file-preview svg {
  user-select: none;

  width: 66%;
  height: 66%;
}

.file-preview img {
  user-select: none;
  width: 100%;
}

/* -BUTTONS- */

.btn {
  display: flex;

  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  border-radius: 0.75rem;

  background-color: rgba(0, 0, 0, 0);
  color: rgb(92, 92, 92);
  fill: rgb(92, 92, 92);

  width: 2.25em;
  height: 2.25em;

  transition: none;

  font-weight: 600;

  transition: background-color 0.2s;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.096);
}

.btn-light {
  background-color: rgb(235, 235, 235);
  color: rgb(92, 92, 92);
  fill: rgb(92, 92, 92);

  transition: background-color 0.2s;
}

.btn-light:hover {
  background-color: rgb(225, 225, 225);

  color: rgb(92, 92, 92);
  fill: rgb(92, 92, 92);
}

.btn-dark {
  background-color: rgb(92, 92, 92);
  color: rgb(235, 235, 235);
  fill: rgb(235, 235, 235);
}

.btn-dark:hover {
  background-color: rgb(102, 102, 102);
}

.btn-text {
  display: flex;

  gap: 0.2em;
  width: auto;

  padding: 0 0.75em;
}

.btn-circle {
  border-radius: 50%;
}

.btn-small {
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 0.5rem;

  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
}

.radio-group {
  display: flex;
  gap: 0.2em;
}

/* -DROPDOWN- */
.show-modal {
  display: block;
}

.dropdown-menu {
  display: block;

  background-color: rgb(235, 235, 235);
  color: rgb(61, 61, 61);

  border: none;
  box-shadow: 0 0 0.5em #00000060;
}

.dropdown-header {
  color: rgb(82, 82, 82);
  margin-bottom: 0.25em;

  padding: 0 1em 0.5em 1em;
}

.dropdown-header .user-info {
  display: flex;
  flex-direction: column;
}

.dropdown-body {
  padding-top: 0.25em;
  border-top: 1px solid rgb(155, 155, 155);
}

.dropdown-section {
  border-bottom: 1px solid rgb(155, 155, 155);
  color: rgb(82, 82, 82);
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
}

.dropdown-footer {
  border-top: 1px solid rgb(155, 155, 155);
  margin-top: 0.25em;
  padding-top: 0.25em;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px 16px;
  border: 0;
  text-align: start;
}

.dropdown-item:active,
.dropdown-item.active {
  background-color: rgb(215, 215, 215);
  color: rgb(61, 61, 61);
}

.dropdown-item:hover {
  background-color: rgb(215, 215, 215);
  color: rgb(61, 61, 61);
}

.dropdown-menu {
  z-index: 2000;
}

/* ==================== Modals ==================== */
.modal-dialog {
  max-width: 600px;
}

.modal-header {
  display: flex;

  gap: 1em;
  position: relative;

  padding: 16px;
}

.modal-footer {
  justify-content: space-between;
}

.modal-header {
  justify-content: space-between;
}

.modal-content {
  border-radius: 1em;
  height: 650px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
}

.file-title-container {
  display: flex;
  flex: 1;
  align-items: center;

  min-width: 0;
  margin: 0px 0.5em;
}

.file-title {
  display: inline-block;

  font-size: 1em;
  font-weight: 600;

  width: 100%;

  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-info {
  display: flex;
  flex-direction: column;

  padding: 0 0.5em;
}

.modal-preview {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  padding: 16px;
  background-color: rgb(247, 245, 242);
  border-bottom: 1px solid rgb(222, 226, 230);
}

.modal-preview img,
.modal-preview svg {
  fill: rgb(107, 107, 107);
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal-body {
  padding: 0px;
}

.form-control:focus {
  box-shadow: none;
}

.description-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
}

.description-field {
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;

  width: 100%;

  background-color: rgb(235, 235, 235);
  color: rgb(92, 92, 92);

  font-size: 1em;
  font-weight: 600;

  border-radius: 0.5em;

  white-space: normal;
  overflow-wrap: anywhere;
}

.description-field .form-control {
  padding: 0px;
  border: 0px;
  background-color: rgb(235, 235, 235);
  color: rgb(92, 92, 92);

  font-size: 1em;
  font-weight: 600;
  resize: none;
}

.field-actions {
  display: flex;
  justify-content: end;

  gap: 0.25em;
}

.form-control {
  padding: 0.25em 0.5em;
  margin: 0px;
}

.footer-actions-group {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.actions-group {
  display: flex;
  align-items: center;
}

/* -AUTH- */

.auth-header {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
  color: rgb(92, 92, 92);
}

.auth-header h3 {
  font-weight: 600;

  margin-bottom: 0px;
}

.auth-card {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 367px;

  background-color: rgb(255, 255, 255);

  border-radius: 1em;

  box-shadow: rgba(50, 50, 50, 0.175) 0px 0px 0.5em;

  padding: 2em;
  margin: auto 0px;
}

.auth-card .form-control {
  line-height: 2rem;

  padding: 0.5rem 1rem;

  border-radius: 1rem;

  margin: 0px;

  font-weight: 600;
  font-size: 1.25em;

  color: rgb(92, 92, 92);
}

.auth-card .form-control:focus {
  border: 1px solid rgb(155, 155, 155);
}

.auth-card .form-control::placeholder {
  color: rgb(155, 155, 155);
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  margin-top: 1.5em;
}

.auth-footer .btn {
  width: 100%;

  border-radius: 1rem;

  font-size: 1rem;

  padding: 1.5rem;
}

.page-header-container .btn {
  width: 48px;
  height: 48px;

  border-radius: 1rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.description-field .btn {
  font-size: 0.75em;
}

.description-field .btn-circle {
  position: absolute;

  top: 0.5rem;
  right: 0.5rem;
}

.form-error {
  border-color: rgb(255, 32, 32);
}

.form-error:focus {
  border-color: rgb(255, 32, 32) !important;
}

.form-error-message {
  color: rgb(255, 32, 32);

  margin: 0.5rem 0px;
}

.fields-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.share-modal-content {
  height: auto;
}

.share-page {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.share-content-container {
  display: flex;
  justify-content: center;
  background-color: rgb(220, 220, 220);

  position: relative;

  padding: 1rem;
  flex: 1;
}

.share-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1rem;
}

.share-preview {
  height: 600px;
  width: 75%;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.share-preview img,
.share-preview svg {
  fill: rgb(107, 107, 107);
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.share-content-container .description-container {
  position: absolute;

  width: 30%;
  height: auto;

  top: 0.5rem;
  right: 0.5rem;
}

.share-header-container .btn {
  height: 48px;

  min-width: 48px;

  border-radius: 1rem;
}

.user-actions {
  display: flex;

  align-items: center;
  width: auto;
  gap: 0.5rem;
}
