/* ==================== Imports ==================== */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext");
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");


/* ==================== Root ==================== */
html, body, #root, main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;

  color: #1f1f1f;
}

.home-page {
  display: grid;

  grid-template-columns: auto minmax(720px, 1320px) auto;
  grid-template-rows: auto 1fr;

  height: 100%;
}

.page-header-section {
  grid-area: 1 / 2 / 2 / 3;
}

.page-content-section {
  display: flex;
  flex-direction: column;

  grid-area: 2 / 2 / 3 / 3;
}

.page-header-container {
  display: flex;

  justify-content: space-between;

  padding: 1em 2.5em;
}

.header-container {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 1em 2.5em;
}

.content-container {
  display: flex;

  padding: 0 2.5em;
}

.grid-container {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5em;
 
  width: 100%;
}

.title-container {
  padding: 1em 2.5em;
}

/* -GRID- */

.grid-card {
  display: flex;
  flex-direction: column;

  border-radius: 1em;

  background-color: rgb(235, 235, 235);
}

.grid-card:hover {
  background-color: rgb(220, 220, 220);
}

.grid-header {
  display: flex;
  
  padding: .5em;

  justify-content: space-between;
  align-items: center;
}

.grid-content {
  padding: 0 .5em .5em .5em;
}

/* -TABLE- */

.cell-container {
  padding: 0px .5em !important;

  height: 3em;
  line-height: 3em;
}

.cell-content {
  display: flex;
  
  align-items: center;
  gap: .5em;

  height: 100%;
}

.cell-content--end {
  justify-content: end;
}

.col-size {
  width: 100px;
}

.col-uploaded {
  width: 215px;
}

.col-actions {
  width: 215px;
}


th {
  font-weight: 500;
}

/* -FILE PREVIEWS- */

.file-preview {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.file-preview--list {
  border-radius: .5em;
}

.file-preview--grid {
  border-radius: 1em;
}

.cell-content .file-preview {
  width: 2em;
  height: 2em;
}

.file-preview svg {
  user-select: none;

  width: 66%;
  height: 66%;

  object-fit: contain;
}

.file-preview img {
  user-select: none;

  width: 100%;
  height: 100%;

  object-fit: contain;
}

/* -BUTTONS- */

.btn {
  display: flex;

  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  border-radius: .75rem;

  background-color: rgba(0, 0, 0, 0);
  color: rgb(92, 92, 92);
  fill: rgb(92, 92, 92);

  width: 2.25em;
  height: 2.25em;

  transition: none;

  font-weight: 600;

  transition: background-color .2s;
}

.btn-header {
  width: 40px;
  height: 40px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.096);
  color: rgb(63, 63, 63);
  fill: rgb(63, 63, 63);
}

.btn-light {
  background-color: rgb(235, 235, 235);
  color: rgb(92, 92, 92);
  fill: rgb(92, 92, 92);

  transition: background-color .2s;
}

.btn-light:hover {
  background-color: rgb(225, 225, 225);
  color: rgb(63, 63, 63);
  fill: rgb(63, 63, 63);
}

.btn-dark {
  background-color: rgb(92, 92, 92);
  color: rgb(235, 235, 235);
  fill: rgb(235, 235, 235);
}

.btn-dark:hover {
  background-color: rgb(102, 102, 102);
  color: rgb(235, 235, 235);
  fill: rgb(255, 255, 255);
}

.btn-text {
  display: flex;

  gap: .2em;
  width: auto;

  padding: 0 .75em;
}

.btn-circle {
  border-radius: 50%; 
}

.radio-group {
  display: flex;
  gap: .2em;
}

/* -DROPDOWN- */
.show-modal {
  display: block;
}

.dropdown-menu {
  display: block;
  
  background-color: rgb(235, 235, 235);
  color: rgb(61, 61, 61);

  border: none;
  box-shadow: 0 0 .5em #00000060;
}

.dropdown-header {
  border-bottom: 1px solid rgb(155, 155, 155);
  color: rgb(82, 82, 82);
  margin-bottom: .25em;

  padding: 0 1em .50em 1em;
}

.dropdown-header .user-info {
  display: flex;
  flex-direction: column;
}

.dropdown-section {
  border-bottom: 1px solid rgb(155, 155, 155);
  color: rgb(82, 82, 82);
  margin-bottom: .25em;
  padding-bottom: .25em;
}

.dropdown-footer {
  border-top: 1px solid rgb(155, 155, 155);
  margin-top: .25em;
  padding-top: .25em;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px 16px;
  border: 0;
  text-align: start;
}

.dropdown-item:active,
.dropdown-item.active {
  background-color: rgb(215, 215, 215);
  color: rgb(61, 61, 61)
}

.dropdown-item:hover {
  background-color: rgb(215, 215, 215);;
  color: rgb(61, 61, 61)
}

.dropdown-menu {
  z-index: 2000;
}

/* ==================== Modals ==================== */
.modal-dialog {
  max-width: 600px;
}

.modal-header {
  display: flex;

  gap: 1em;
  position: relative;

  padding: 16px;
}

.modal-footer {
  justify-content: space-between;
}

.modal-header {
  justify-content: space-between;
}

.modal-content {
  border-radius: 1em;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
}

.file-title-wrapper {
  display: flex;
}

.file-title {
  display: flex;
  justify-content: start;

  font-size: 1em;
  font-weight: 600;

  overflow: hidden;
  text-overflow: ellipsis;
}

.file-info {
  display: flex;
  flex-direction: column;

  padding: 0 .5em;
}

.modal-preview {
  width: 100%;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  padding: 16px;
  background-color: rgb(247, 245, 242);
  border-bottom: 1px solid rgb(222, 226, 230);
}

.modal-preview img,
.modal-preview svg {
  fill: rgb(107, 107, 107);
  display: block;
  max-width: 75%;
  max-height: 75%;
  object-fit: contain;
}

.modal-body {
  padding: 0px;
}



.form-control:focus {
  box-shadow: none;
}

.description-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.description-field {
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;

  width: 100%;

  background-color: rgb(235, 235, 235);
  color: rgb(92, 92, 92);

  font-size: 1em;
  font-weight: 600;

  border-radius: .5em;

  white-space: normal;
  overflow-wrap: anywhere;
}

.description-field .form-control {
  padding: 0px;
  border: 0px;
  background-color: rgb(235, 235, 235);
  color: rgb(92, 92, 92);

  font-size: 1em;
  font-weight: 600;
  resize: none;
}

.description-field .btn {
  position: absolute;
}

.field-actions {
  display: flex;
  justify-content: end;

  gap: .25em;
}

.field-actions .btn {
  text-decoration: underline;
}

.form-control {
  padding: .25em .5em;
  margin: 0px;
}

.footer-actions-group {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.actions-group {
  display: flex;
  align-items: center;
}